@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4">Welcome to VideoGameDatabase!</h1>
    <hr />
    <p class="lead">
        This site uses a database that stores a list of EVERY VIDEO GAME (not really)!
    </p>

    <p class="lead">
        <a asp-controller="VideoGames" asp-action="Index" class="btn btn-lg btn-secondary">Enter</a>
    </p>
